/* GALLERY STYLING  */

.slideshow button {
    border: none;
    outline: none;
}

.gallery-buttons {
    margin-top: 1rem;
}

/* circle buttons  */
.gallery-buttons button {
    border-radius: 50%;
    min-height: 17px;
    min-width: 17px;
    margin: 0.5em;
}

/* prev and next buttons */
.container-1 button {
    display: relative;
    height: fit-content;
    background-color: transparent;

    font-family: "Open Sans Condensed", arial;
    font-weight: 600;
    font-size: 40px;
    color: rgb(207, 207, 207);
}

.slideshow .container-1,
.slideshow .container-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame {
    margin: 1em 7em 1em 7em;
}

.gallery-item img{
    height: 300px;
    width: 350px;
}

.gallery-item p{
    margin-top: 2rem;
    text-align: center;
    color: rgb(153, 153, 153);
    font-style: oblique;
}

/* ANIMATION */

@keyframes fadeIn {
    0% {opacity: 0.6};
    100% {opacity: 1};
}

@-moz-keyframes fadeIn {
    0% {opacity: 0.6};
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0.6};
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity: 0.6};
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity: 0.6};
    100% {opacity:1;}
}