@import "slideshow.css";

header {
    position: relative;
}

#title-container {
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    border-radius: 70px;
    box-shadow: 5px 5px rgb(189, 189, 189);
    padding: 8px;
}

#title {
    font-size: 80px;
    color:  rgb(21, 137, 167);
    font-family: "Pacifico", 'Times New Roman', Times, serif;
}


#img-banner {
    width: 100%;
    max-height: 500px;
}


a {
    border-radius: 3px;
    text-align: center;
    padding: 5px;
    width: 100%;
    color: rgb(24, 6, 6);
}

/* //add styling to tabs */
#tabs {
    position: absolute;
    bottom: 0;
    background-color: rgb(233, 232, 232);

    width: 100%;
    display: flex;
    justify-content: space-around;

    font-family: "Open Sans Condensed", arial;
    font-size: 35px;
    font-weight: 600;
}

#tabs a:first-child {
    background-color: white;
}

#tabs a:hover {
    color: rgb(73, 159, 180);
}

/* CONTENT */

.content-body {
    margin-top: 50px;
    min-height: 350px;
    padding: 4em;
    font-family: "Libre Franklin";
}

/* HOMEPAGE */

.quote {
    width: fit-content;
    margin: 0 auto;

}

.quote-body {
    text-align: center;
    color: rgb(24, 6, 6);
    font-family: "Pacifico", 'Times New Roman', Times, serif;
    font-size: 50px;
}

.quote .author {
    text-align: end;
    font-size: 16px;
    margin: 2em 0 0 0;
}

.section-1 {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 5rem;
}

.section-1 p{
    font-size: 17px;
    line-height: 2em;
    box-shadow: 15px 15px rgb(19, 88, 105);
    background-color: rgb(21, 137, 167);
    color: white;
    padding: 2em;
    margin-right: 4em;
}

#cone-img {
    border-radius: 50%;
}



/* ABOUT US */
#about-title {
    font-size: 30px;
    margin-bottom: 1em;
}

#about-container .blue {
    color: rgb(21, 137, 167);
    font-weight: 600;
}


#about-img {
    float: left;
    margin: 0 1em 1em 0;
}



#about-container p{
    line-height: 2em;
    font-size: 20px;
}


/* MEnu styling */


#menu-content ul {
    margin-top: 4rem;
}

#menu-content li {
    display: flex;
    justify-content: space-between;
    margin: 1em 0 1em 0;

}

#menu-content .title {
    font-size: 18px;
}

#menu-content .description {
    color: grey;
}

/* contacts */


.contact-container {
    display: flex;
    justify-content: center;
}

.address-info {
    display: flex;
    align-items: center;
    font-size: 18px;

}

.address-info .icon{
    max-height: 50px;
}



.contact-container .info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 3px solid rgb(24, 6, 6);;
    padding: 1rem;
}


.contact-info div,
.socials-info div{
    display: flex;
    align-items: center;
}

.contact-container .icon {
    max-height: 25px;
    margin-right: 0.5em;
}


#google-maps {
    margin-left: 2rem;
}




/* foOTER STYLING */
footer {
    min-height: 50px;
    background-color: rgb(192, 221, 228);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
}

footer p {
    font-family: "Open Sans Condensed", arial;
    font-size: 20px;
}
footer a {
    text-decoration: none;
}


@media screen and (max-width: 1024px) {
    .content-body {
        margin-top: 25px;
    }

    .quote .author {
        text-align: center;
    }

    .section-1 {
        flex-direction: column-reverse;
        margin-top: 4em;
    }
    .section-1 p {
        margin: 3em 1em 1em 1em;
    }

    .contact-container {
        flex-direction: column-reverse;
    }
    .address-info {
        flex-direction: column;
        margin-bottom: 1em;
    }

    .contact-info, .socials-info {
        display: flex;
        justify-content: space-between;
    }

    #google-maps {
        margin-left: 0;
        margin-bottom: 1em;
    }

    #google-maps img {
        width: 100%;
    }
}


@media screen and (max-width: 768px) {
    #title {
        font-size: 60px;
    }

    .content-body {
        /* margin-bottom: 2em; */
        padding: 2em;
    }

    .quote {
        margin-top : 1em;
    }

    .quote .author {
        font-size: 14px;
    }

    #tabs {
        font-size: 25px;
    }

    .price {
        margin-left: 2em;
    }

    .contact-info, .socials-info {
        display:inline;
    }
}
