@import "slideshow.css";

body {
    height: 100vh;
    overflow: hidden;
}

#content {
    font-size: 20px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}


#navbar {
    position: fixed;
    text-align: center;
    width: 100%;
    height: 20px;
    background-color: rgb(24, 24, 24);
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    transition: all 350ms ease;
    
}

#navbar:hover {
    padding: 1em;
    height: fit-content;
}

#navbar:hover > a{
    display: inline;
    visibility: visible;
}

#navbar a {
    display: none;
    visibility: hidden;
    color: rgb(175, 175, 175);
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 23px;
}

#navbar a:hover {
    color: rgb(203, 234, 240);
}


header {
    position: relative;
    min-height: 100vh;
}

#side-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh;
    width: 100vw; */
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 80px;
    position: absolute;
    z-index: 2;
}

#icecream-cone {
    position: absolute;
    bottom: -20%;
    left: 55%;
    max-width: 750px;
}

/* make this left hand instead. */
#title-container {
    width: fit-content;
    background-color: white;
    border-radius: 70px;
    box-shadow: 5px 5px rgb(189, 189, 189);
    padding: 8px;
}

#title {
    white-space: nowrap;
    font-size: 90px;
    color:  rgb(21, 137, 167);
    font-family: "Pacifico", 'Times New Roman', Times, serif;
}

#side-container p {
    width: 80%;
    max-width: 700px;
    margin-top: 2rem;
    color: rgb(37, 37, 37);
    background-color: white;
    border-radius: 8px;
    padding: 1em;
    text-align: justify;
    box-shadow: 6px 6px rgb(189, 189, 189);
    font-size: 22px;
    font-family: 'Noto Sans JP', sans-serif;
}





#img-banner {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
}


a {
    border-radius: 3px;
    text-align: center;
    padding: 5px;
    width: 100%;
    color: rgb(24, 6, 6);
}

/* //add styling to tabs */
#tabs {
    position: absolute;
    bottom: 0;
    background-color: rgb(233, 232, 232);

    width: 100%;
    display: flex;
    justify-content: space-around;

    font-family: "Open Sans Condensed", arial;
    font-size: 35px;
    font-weight: 600;
}

#tabs a:first-child {
    background-color: white;
}

#tabs a:hover {
    color: rgb(73, 159, 180);
}

/* CONTENT */

.content-body {
    /* scroll-snap-align: start; */
    max-width: 100vw;
    min-height: 100vh; 
    font-family: "Libre Franklin";
}

/* HOMEPAGE */

#shape-1 {
    top: 5%;
    left: 5%;
    clip-path: polygon(1% 99%, 26% 64%, 75% 45%, 100% 28%, 81% 61%, 90% 84%);
}


#shape-2 {
    top: 5%;
    right: 5%;
    clip-path: polygon(16% 46%, 19% 28%, 23% 20%, 55% 55%, 77% 12%, 58% 76%);
}

#shape-3 {
    clip-path: polygon(100% 39%, 0% 100%, 85% 90%);
    bottom: 5%;
    right: 10%;
}

#shape-4 {
    clip-path: polygon(25% 0%, 48% 53%, 100% 50%, 60% 67%, 41% 82%, 1% 31%);
    bottom: 7%;
    left: 20%;
}

#shape-5 {
    clip-path: polygon(71% 18%, 99% 53%, 55% 51%, 15% 80%, 0% 50%);
    left: 50%;
    top: 50%;
}

#shape-6 {
    clip-path: polygon(72% 28%, 90% 20%, 77% 61%, 75% 100%, 38% 45%, 0% 60%, 10% 20%);
    left: 30%;
    top: 35%;
}

#shape-7 {
    clip-path: polygon(20% 0%, 0% 20%, 6% 34%, 0% 80%, 67% 56%, 88% 42%, 80% 100%, 100% 80%, 100% 61%, 100% 20%, 80% 0%, 21% 55%);
    top: 45%;
    left: 75%;
}


#homepage .shape {
    position:absolute;
    width: 300px;
    height: 200px;
    background-color: rgba(21, 137, 167, 1);
}


#homepage {
    /* background-color: rgb(245, 243, 166); */
    position: relative;
    background-color: black;
    color: white;
    /* height: 100vh; */
}


.quote {
    width: fit-content;
    margin: 0 auto;

}

.quote-body {
    margin: 2rem;
    text-align: center;
    mix-blend-mode: lighten;
    color: white;
    font-family: "Pacifico", 'Times New Roman', Times, serif;
    font-size: 50px;
}

.quote .author {
    text-align: end;
    /* font-size: 16px; */
    margin: 2em 0 0 0;
}

.section-1 {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 5rem;
}

.section-1 p{
    /* font-size: 23px; */
    line-height: 2em;
    z-index: 2;
    /* box-shadow: 15px 15px rgb(19, 88, 105);
    background-color: rgb(21, 137, 167); */
    color: white;
    padding: 2em;
    margin-right: 4em;
}

/* ABOUT US */

#about-large, #about-mobile {
    min-height: 100vh;
}


#about-mobile {
    position: relative;
    display: none;
}

#about-mobile .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 60%;
    width: 80%;
    padding: 1em;
    color: white;
    font-size: 30px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.75);
}

#about-mobile .about-title {
    margin-bottom: 1em;
    font-size: 40px;
    text-align: center;
}

#about-mobile p {
    text-align: justify;
}


#about-mobile .img-frame {
    min-height: 350px;
    object-fit: cover;
    background-position: center;
}

/* #about-mobile .frame-1 {
    background-image: url("../imgs/angela-bailey-_uHBJNuKyk8-unsplash.jpg");
} */

#about-mobile .frame-2 {
    background-image: url("../imgs/tomas-jasovsky-d5SZqLkpIrY-unsplash.jpg");

}

#about-mobile .frame-3 {
    
    background-image: url("../imgs/jonas-jacobsson-1iTKoFJvJ6E-unsplash.jpg");

}

#about-mobile .frame-4 {
    background-image: url("../imgs/sincerely-media-VNsdEl1gORk-unsplash.jpg");
}










#about-large {

    background-color: white;
    display: grid;
    grid-template: auto / 1fr 1fr;
    /*  */
    margin: 70px 0;
    /*  */
    padding: 0;

}

#about-left-container {
    position: relative;
    background-color: black;

    /* under 1000px, switch to a diff design. */
}

#about-left-container .img-frame {
    /* border: 2px solid; */
    min-height: 200px;
    min-width: 100px;
    border-radius: 2px;
    height: 70%;
    position: absolute;
    background-size: cover;
    box-shadow: 10px 10px #ffffff;
}

#about-left-container .frame-1 {
    left: 10px;
    bottom: -20px;
    z-index: 2;
    height: 230px;
    width: 60%;
    background-image: url("../imgs/angela-bailey-_uHBJNuKyk8-unsplash.jpg");
    /* border: 1px solid green;     */
}

#about-left-container .frame-2 {
    bottom: -70px;
    right: -15px;
    z-index: 3;    
    width: 43%;
    box-shadow: -10px -10px #ffffff;
    background-image: url("../imgs/jonas-jacobsson-1iTKoFJvJ6E-unsplash.jpg");
    /* border: 1px solid red; */
}


#about-left-container .frame-3 {
    left: 20px;
    top: -50px;
    z-index: 2;
    width: 50%;
    background-image: url("../imgs/tomas-jasovsky-d5SZqLkpIrY-unsplash.jpg");
    /* border: 1px solid yellow; */
}

#about-left-container .frame-4 {
    background-image: url("../imgs/sincerely-media-VNsdEl1gORk-unsplash.jpg");
    z-index: 3;
    right: 25px;
    top: 20px;
    width: 50%;
    height: 150px;
    /* border: 1px solid purple; */
}


#about-right-container {
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    text-align: justify;
}



#about-right-container .blue,
#about-mobile .blue {
    color: rgb(21, 137, 167);
    font-weight: 600;
}

#about-large .about-title {
    font-size: 30px;
    margin-bottom: 1em;
}

/* #about-img {
    float: left;
    margin: 0 1em 1em 0;
} */



#about-right-container p{
    line-height: 2em;
    /* font-size: 20px; */
}


/* MEnu styling */
#menu {
    background-color: white;
    position: relative;
    padding: 4rem;
    /* margin: 4rem; */
}

/* #menu-content {
    position: relative;
} */


#menu .menu-text {
    position: absolute;
    /* font-size: 120px; */
    font-family: 'Dosis', sans-serif;

}

#menu-text-1 {
    font-size: 260px;
    /* color:  rgb(21, 137, 167); */
    color:  rgba(163, 197, 206, 0.3);
    /* top: -62px;
     */
    top: 450px;
    /* transform: translate(0, -50); */
    right: -180px;
    transform: rotate(90deg);
}

#menu-text-2 {
    font-size: 25px;
    color:  rgb(21, 137, 167);
    top: 2em;
    left: 1em;
}



#menu-content ul {
    display: grid;
    grid-template: auto / 1fr 1fr;
    column-gap: 3rem;
    margin-top: 4rem;
}



#menu-content li {
    display: flex;
    justify-content: space-between;
    margin: 1em 0 1em 0;

}

#menu-content .title {
    /* font-size: 18px; */
}

#menu-content .description {
    color: grey;
}

/* contacts */

#contact {
    /* border: 15px black solid; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-container {
    /* background-color: white; */
    display: flex;
    justify-content: center;
}

.address-info {
    display: flex;
    align-items: center;
    /* font-size: 18px; */

}

.address-info .icon{
    max-height: 50px;
}



.contact-container .info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 4px solid rgb(20, 20, 20);
    border-radius: 2px;
    background-color: white;
    padding: 1rem;
}


.contact-info div,
.socials-info div{
    display: flex;
    align-items: center;
}

.contact-container .icon {
    max-height: 25px;
    margin-right: 0.5em;
}


#google-maps {
    margin-left: 2rem;
}




/* foOTER STYLING */
footer {
    min-height: 80px;
    /* background-color: rgb(192, 221, 228);
     */
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
}

footer p {
    font-family: "Open Sans Condensed", arial;
    color: white;
}
footer a {
    color: white;
    text-decoration: none;
}



/* at 1000px should be mobile friendly. */

@media screen and (max-width: 1024px) {

    /* title */
    #side-container {
        

        margin-left: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    #icecream-cone {
        left: 45%;
        max-width: 900px;
    }

    #about-large {
        background-color: purple;
        display: none;
    }

    #about-mobile {
        display: block;
    }

    /* MENU */

    #menu-content ul {
        display: grid;
        grid-template: auto / 1fr;
        column-gap: 3rem;
        margin-top: 4rem;
    }

    #menu-text-1 {
        top: 600px;
    }

    .content-body {
        font-size: 22px;
        padding: 2rem 0;
        /* margin-top: 25px; */
    }

    .quote .author {
        text-align: center;
    }

    .section-1 {
        flex-direction: column-reverse;
        margin-top: 4em;
    }
    .section-1 p {
        margin: 3em 1em 1em 1em;
    }

    .contact-container {
        flex-direction: column-reverse;
    }
    .address-info {
        flex-direction: column;
        margin-bottom: 1em;
    }

    .contact-info, .socials-info {
        display: flex;
        justify-content: space-between;
    }

    #google-maps {
        margin-left: 0;
        margin-bottom: 1em;
    }

    #google-maps img {
        width: 100%;
    }
}


@media screen and (max-width: 768px) {

    #icecream-cone {
        left: 50%;
        top: 50%;
        bottom: 0;
        transform: translate(-50%, -50%);
        max-width: 650px;
    }

    #menu-text-1 {
        display: none;
    }

    #title {
        font-size: 80px;
    }

    /* .quote {
        margin-top : 1em;
    }

    .quote .author {
        font-size: 14px;
    } */


    .price {
        margin-left: 2em;
    }

    #contact {
        padding: 1rem;
    }
    .contact-info, .socials-info {
        display:inline;
    }
}


@media screen and (max-width: 600px) {
    #title {
        font-size: 60px;
    }
}